Django==1.7
MySQL-Connector-Python==1.2.2
MySQL-python==1.2.4b4
PIL==1.1.7
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.2.1
psycopg2==2.5.4
pygame==1.9.1
static3==0.5.1
virtualenv==1.9.1
virtualenvwrapper-win==1.1.5
waitress==0.8.9
